
@font-face {
    font-family: IRANSansWeb;
    src: url('IRANSansWeb_UltraLight.ttf') format('truetype');
    font-weight: 100; /* Light */
    font-style: normal;
      font-display: swap;
  }

@font-face {
    font-family: IRANSansWeb;
    src: url('IRANSansWeb_UltraLight.ttf') format('truetype');
    font-weight: 200; /* UltraLight or Thin */
    font-style: normal;
      font-display: swap;
}


@font-face {
    font-family: IRANSansWeb;
    src: url('IRANSansWeb_Light.ttf') format('truetype');
    font-weight: 300; /* Normal weight */
    font-style: normal;
      font-display: swap;
}


@font-face {
    font-family: IRANSansWeb;
    src: url('IRANSansWeb.ttf') format('truetype');
    font-weight: 400; /* Black or Heavy */
    font-style: normal;
      font-display: swap;
}

@font-face {
    font-family: IRANSansWeb;
    src: url('IRANSansWeb_Bold.ttf') format('truetype');
    font-weight: 500; /* Black or Heavy */
    font-style: normal;
      font-display: swap;
}

@font-face {
    font-family: IRANSansWeb;
    src: url('IRANSansWeb_Bold.ttf') format('truetype');
    font-weight: 700; /* Black or Heavy */
    font-style: normal;
      font-display: swap;
}

@font-face {
    font-family: IRANSansWeb;
    src: url('IRANSansWeb_Black.ttf') format('truetype');
    font-weight: 800; /* Black or Heavy */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: IRANSansWeb;
    src: url('IRANSansWeb_Black.ttf') format('truetype');
    font-weight: 900; /* Black or Heavy */
    font-style: normal;
    font-display: swap;
}