@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@500&display=swap');

body{
    margin: 0;
    padding:0;
    font-family: 'Noto Naskh Arabic', serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


