@import url(https://db.onlinewebfonts.com/c/002254488ce1877d55ad3693e527ad1e?family=IRANSansWeb);

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding:0;
    font-family: IRANSansWeb !important;
}

::-webkit-scrollbar {
    width: 6px;
}   
::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}





